//screen width variables
$small-screen: 768px;
$medium-screen: 992px;
$large-screen: 1200px;

$max-row-width: 140rem;

$box-margin-small: 5px;
$box-margin-large: 30px;

$category-padding: 30px;

$blue-hover: #2196F3;